body {
  background-color: #282c34;
}

.Content {
  display: flex;
  justify-content: space-around;
}

.Todo {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.Info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

.Main {
  text-align: center;
  border: solid gray 3px;
  border-radius: 15px;
  width: 300px;
  height: 550px;

}

.Info {
 width: 50%;
}

.Header {
  color: aliceblue;
    padding: 10px;
    font-size: 1.5em;
}

.Items {
  display:flex;
  flex-direction: column;
  height: 400px;
}

.InputSection {
  padding: 20px;
}
